<!DOCTYPE html>
<html>

<head>

    <title>Sibongiseni Nogwaja | AI Engineer P</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav class="navbar">


    <div class="nav-links">

        <a href="/">Home</a>

        <a href="/add">Add Project</a>

        <a href="https://github.com/Sibongiseni25"
           target="_blank">
           GitHub
        </a>

    </div>

</nav>

<div class="container">

    {% block content %}
    {% endblock %}

</div>

<footer>

    <h3>Sibongiseni Nogwaja</h3>

    <p>
        AI Engineer | Computer Vision | Machine Learning
    </p>

    <p>
        Built with Flask • Python • YOLO • OpenCV
    </p>

</footer>

</body>

</html>